<section id="photo">
    <div class="top-photo">
        <button ui-sref="list-photos" type="submit" class="btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <a ui-sref="list-photos">Back to photos list</a>
    </div>
    <div class="one-photo">
        <ul>
            <li>
                <span>Photo from album  <span class="uppercase"> {{photo.album_tetle}}</span></span>
            </li>
            <li>
                <span>Description : {{photo.description}}</span>
            </li>
        </ul>
        <div class="animated bounceInUp photo-img">
            <img src={{photo.url}}>
        </div>
    </div>
</section>