<section id="albums">
    <div class="show-albums" ng-if="showRequest">
        <button ng-click="requestListAlbums()" type="submit" class="btn">Show list albums
            <i class="fa fa-picture-o" aria-hidden="true"></i>
        </button>
    </div>
    <div ng-if="showAlbums">
        <span>Albums :</span>
        <li ng-repeat="album in albumsUser">
            <a ui-sref="list-photos" ng-click="getIndexAlbum($index); $event.stopPropagation()">{{$index + 1}}.
                {{album.title}}</a>
            <span class="quantity">Photos: ( {{album.photos}} )</span>
            <button ng-click="getIndexAlbum($index);  $event.stopPropagation()" ui-sref="list-photos" type="submit"
                    class="btn"><i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </li>
        <p ng-if="showResult">You have not albums.</p>
    </div>
</section>