<section id="authorization" class="form-app">
    <div>
        <form ng-submit="authorizationUser(emailUser)" class="form-search">
            <p>Enter your email for the authorization photohosting <a target="_blank" href="https://www.flickr.com">"Flickr"</a>
            </p>
            <input type="email" autofocus ng-model="emailUser" class="input-medium search-query"
                   placeholder="Your email...">
            <button ng-disabled="!emailUser" type="submit" class="btn">sign in
            </button>
        </form>
    </div>
    <div class="text-test">
        <span>For the test use</span>
        <span> baumalight@gmail.com</span>
    </div>
</section>