.form-app {
   p {
     font-family: "Adventure";
     color: @color-white;
     font-size: 2rem;
     margin-bottom: 26px;
   }

   a {
     color: @color-white;
   }

   a:hover {
     color: darkorchid;
   }

   .form-search {
     width: 80%;
     margin: 0 auto;
     text-align: center;

     input {
       height: 32px;
       width: 220px;
       margin-right: 20px;
       padding-left: 6px;
     }
   }

  .text-test {
    text-align: center;
    padding-top: 18px;

     span{
      color: @color-white;
      font-weight: 600;
      display: block;
      margin-bottom: 8px;
    }
    span:nth-child(2){
      color: blue;
    }
  }
 }