<section id="list-photos">
    <div class="body-list-photo col-lg-6 col-md-6 col-sm-6">
        <div class="header-btn">
            <button ui-sref="albums" type="submit" class="btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <a ui-sref="albums">Back to albums list</a>
        </div>
        <div class="info-album">
            <ul>
                <li>
                    <span>Album : <span class="uppercase">{{title}}</span></span>
                </li>
                <li>
                    <span>Photos : {{quantity}}</span>
                </li>
            </ul>
        </div>
        <div ng-if="showButton" class="photos">
            <button ng-click="listPhotos()" type="submit" class="btn">show photos
                <i class="fa fa-picture-o" aria-hidden="true"></i>
            </button>
        </div>
        <div ng-if="showPhotos" id="list-img">
            <ul>
                <li ng-repeat="photo in urlPhotos" tooltip-side="right" tooltips tooltip-template={{photo.description}}>
                    <a ng-click="choosePhoto(photo.url, title, photo.description)" ui-sref="photo">
                        <img src={{photo.url}} alt="photo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="animated jello list-photo-img col-lg-6 col-md-6 col-sm-6">
        <img src="../../assets/img/photos.jpg" alt="photos">
    </div>
</section>